a:hover {
  text-decoration: none;
}
li {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.wrap {
  width: 100%;
  height: 100vh;
  max-width: 750px;
  margin: 0 auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}

.wrap-bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
