a:hover {
  text-decoration: none;
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}
div {
  outline: none;
}

/*! 浏览器兼容提示 start */
.chromeframe {
  background: #000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  font-size: 14px;
  position: relative;
  z-index: 12;
}
.chromeframe a {
  color: #f13c35;
}
/*! 浏览器兼容提示 end */

html,
body {
  min-width: 1280px;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrap {
  min-width: 1280px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
